
	body {
		margin: 0;
		top: 0;
		left: 0;
	}

	input[type=radio] {
		display: none;
	}

	label {
		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		padding: 0 2px 0 2px;
	}

	input[type=radio]:checked + span + span + span {
		background-color: #E9E9E9;
		padding: 0 2px 0 2px;
		font-weight: 600;
	}

	label:hover {
		background-color: #E1E1E1;
		padding: 0 2px 0 2px;
	}

	.sv_progress_bar {
		transition: width 0.3s ease 0s;
	}

	.sv_p_root {
		transition: height 0.3s ease 0s;    
	}

	span[data-bind='text:koProgressText'] {
		margin-bottom: 2px;
	}