
	body  {
		background-image: url(../../images/banner.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	#intro-div {
		width: 45%;
		max-height: 90%;
		margin: 5% auto 5%;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 2.5px;
	}
	
	#intro-content, #intro-content2 {
		padding: 15px;
		text-align: center;
	}
	
	#intro-content h1, #intro-content2 h1 {
		font-size: 1.5em;
	}
	
	#intro-content h3, #intro-content2 h3 {
		font-size: 1.1em;
	}
	
	#intro-content hr, #intro-content2 hr {
		width: 95%;
		height: 1px;
		margin: 20px auto;
		border: none;
		background: #666;
		opacity: 0.4;
	}
	
	#intro-content strong, #intro-content2 strong {
		font-weight: 600 !important;
	}
	
	.abcRioButton {
		width: 85% !important;
		height: 41px !important;
		margin: auto !important;
		padding: 2.5px 0 !important;
		border-radius: 2px !important;
		margin-bottom: 20px !important;
	}
	
	.abcRioButtonContents {
		font-size: 16px !important;
	}
	
	#main-content {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		margin-right: -7.51px;
	}
	
	a {
		color: #fff;
		position: fixed;
		border: none;
		text-align: center !important;
		bottom: 0;
		font-weight: 500;
		margin-left: 10px;
	}
	
	a:hover {
		color: #ccc;
	}
	
	input[type=text], input[type=password] {
		width: 95%;
		padding: 3px 10px;
		margin: 8px 0 4px;
		box-sizing: border-box;
		border: 2px solid #999;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		outline: none;
		font-size: 0.9em;
		font-weight: 600;
		border-radius: 3px;
	}

	input[type=text]:focus, input[type=password]:focus {
		border: 2px solid #555;
	}
	
	input[type=button] {
		width: 95%;
		color: #eee;
		padding: 5px 0 !important;
		margin: 8px 0 4px;
		box-sizing: border-box;
		border: 2px solid #777;
		background: #777;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		outline: none;
		font-size: 1.1em;
		font-weight: 600;
		border-radius: 3px;
	}

	input[type=button]:focus, input[type=button]:hover, input[type=button]:active {
		background: #555;
		border: 2px solid #555;
	}
			